body {
  font-family: Arial, Helvetica, sans-serif;
}

/* rect {
  fill: steelblue;
} */

/* text {
  font-size: 1.2rem;
} */

.tick line {
  stroke: lightgrey;
  opacity: 0.5;
  /* background-color: rgb(30, 243, 136); */
}
